<div class="canvas-board">
    <div class="canvas-row">
        <div class="canvas-block"
             *ngFor='let col of canvasHeader; let idx = index'>
            {{ idx  }}
        </div>
    </div>
    <div class="canvas-row"
         *ngFor='let row of canvas; let i = index'>
        <div class="canvas-block">
            {{ i + 1}}
        </div>
        <div class="canvas-block"
             *ngFor='let col of row; let j = index'
             nz-tooltip
             [nzTooltipTitle]="getBlockTooltip(j, i)">
            {{ col }}
        </div>
    </div>
</div>