<h1>Canvas Drawing - Frontend</h1>
<div nz-row
     [nzGutter]="[24]">
    <div nz-col
         nzLg="24"
         nzXl="8">
        <div nz-row>
            <div nz-col
                 nzLg="12">
                <h2>
                    Shapes/Bucket Fill
                </h2>
            </div>
            <div nz-col
                 nzLg="12">
                <div class="table-action">
                    <ng-container [ngTemplateOutlet]="addButtonTmpl"></ng-container>
                    <button *ngIf="!hasNoShapeOrBucket"
                            nz-popconfirm
                            nzPopconfirmTitle="Are you sure you want to delete everything?"
                            (nzOnConfirm)="clearAll()"
                            class="btn-clear"
                            nz-button
                            nzType="secondary">
                        Delete All
                    </button>
                </div>
            </div>
        </div>

        <nz-table nzSize="small"
                  [nzShowPagination]="false"
                  [nzNoResult]="emptyShapeTmpl">
            <thead>
                <tr>
                    <th nzWidth="20%">Item</th>
                    <th>X1</th>
                    <th>Y1</th>
                    <th>X2</th>
                    <th>Y2</th>
                    <th>Label</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let shape of core.shapes; let idx = index"
                    class="cursor-pointer"
                    (mouseover)="mouseOverItem(shape.positionsOnCanvas)"
                    (mouseout)="mouseOutItem(shape.positionsOnCanvas)">
                    <td>
                        <nz-form-item>
                            <nz-form-control>
                                {{ shape.type }}
                            </nz-form-control>
                        </nz-form-item>
                    </td>
                    <td>
                        <nz-form-item>
                            <nz-form-control [nzErrorTip]="combineErrorsTmpl">
                                <input type="number"
                                       min="0"
                                       [tPositiveNumber]="core.canvasWidth"
                                       tAutofocus
                                       tNoSpaces
                                       nz-input
                                       [(ngModel)]="shape.x1"
                                       (ngModelChange)="onFormInputUpdated()" />
                            </nz-form-control>
                        </nz-form-item>
                    </td>
                    <td>
                        <nz-form-item>
                            <nz-form-control [nzErrorTip]="combineErrorsTmpl">
                                <input type="number"
                                       min="0"
                                       [tPositiveNumber]="core.canvasHeight"
                                       nz-input
                                       [(ngModel)]="shape.y1"
                                       (ngModelChange)="onFormInputUpdated()"
                                       tNoSpaces />
                            </nz-form-control>
                        </nz-form-item>
                    </td>
                    <td>
                        <nz-form-item>
                            <nz-form-control [nzErrorTip]="combineErrorsTmpl">
                                <input type="number"
                                       min="0"
                                       [tPositiveNumber]="core.canvasWidth"
                                       nz-input
                                       [(ngModel)]="shape.x2"
                                       (ngModelChange)="onFormInputUpdated()"
                                       tNoSpaces />
                            </nz-form-control>
                        </nz-form-item>
                    </td>
                    <td>
                        <nz-form-item>
                            <nz-form-control [nzErrorTip]="combineErrorsTmpl">
                                <input type="number"
                                       min="0"
                                       [tPositiveNumber]="core.canvasHeight"
                                       nz-input
                                       [(ngModel)]="shape.y2"
                                       (ngModelChange)="onFormInputUpdated()"
                                       tNoSpaces />
                            </nz-form-control>
                        </nz-form-item>
                    </td>
                    <td>
                        <nz-form-item>
                            <nz-form-control [nzErrorTip]="combineErrorsTmpl">
                                <input type="text"
                                       nz-input
                                       maxlength="3"
                                       [(ngModel)]="shape.label"
                                       (ngModelChange)="onFormInputUpdated()"
                                       tNoSpaces />
                            </nz-form-control>
                        </nz-form-item>
                    </td>
                    <td>
                        <nz-form-item>
                            <nz-form-control>
                                <a nz-popconfirm
                                   nzPopconfirmTitle="Are you sure you want to delete this shape?"
                                   (nzOnConfirm)="deleteShape(idx)">Delete</a>
                            </nz-form-control>
                        </nz-form-item>

                    </td>
                </tr>
                <tr *ngFor="let bucket of core.buckets; let idx = index"
                    class="cursor-pointer"
                    (mouseover)="mouseOverItem(bucket.positionsOnCanvas)"
                    (mouseout)="mouseOutItem(bucket.positionsOnCanvas)">
                    <td>
                        <nz-form-item>
                            <nz-form-control>
                                Bucket Fill
                            </nz-form-control>
                        </nz-form-item>
                    </td>
                    <td>
                        <nz-form-item>
                            <nz-form-control [nzErrorTip]="combineErrorsTmpl">
                                <input type="number"
                                       min="0"
                                       [tPositiveNumber]="core.canvasWidth"
                                       tAutofocus
                                       nz-input
                                       [(ngModel)]="bucket.x"
                                       (ngModelChange)="onFormInputUpdated()"
                                       tNoSpaces />
                            </nz-form-control>
                        </nz-form-item>
                    </td>
                    <td>
                        <nz-form-item>
                            <nz-form-control [nzErrorTip]="combineErrorsTmpl">
                                <input type="number"
                                       min="0"
                                       [tPositiveNumber]="core.canvasHeight"
                                       nz-input
                                       [(ngModel)]="bucket.y"
                                       (ngModelChange)="onFormInputUpdated()"
                                       tNoSpaces />
                            </nz-form-control>
                        </nz-form-item>
                    </td>
                    <td colSpan="2">
                    </td>
                    <td>
                        <nz-form-item>
                            <nz-form-control [nzErrorTip]="combineErrorsTmpl">
                                <input type="text"
                                       nz-input
                                       maxlength="3"
                                       [(ngModel)]="bucket.color"
                                       (ngModelChange)="onFormInputUpdated()"
                                       tNoSpaces />
                            </nz-form-control>
                        </nz-form-item>
                    </td>
                    <td>
                        <nz-form-item>
                            <nz-form-control>
                                <a nz-popconfirm
                                   nzPopconfirmTitle="Are you sure you want to delete this bucket fill?"
                                   (nzOnConfirm)="deleteBucket(idx)">Delete</a>
                            </nz-form-control>
                        </nz-form-item>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>
    <div nz-col
         nzLg="24"
         nzXl="16">
        <h2>Canvas</h2>
        <app-canvas-size [width]="core.canvasWidth"
                         [height]="core.canvasHeight"
                         (sizeChange)="canvasSizeChange($event)"></app-canvas-size>
        <app-canvas-board [canvas]="core.canvas"></app-canvas-board>
    </div>
</div>
<ng-template #emptyShapeTmpl>
    <span *ngIf="hasNoShapeOrBucket">No shape or bucket added.</span>
</ng-template>
<ng-template #addButtonTmpl>
    <button nz-button
            nzType="primary"
            nz-dropdown
            [nzDropdownMenu]="availableOptionsMenu">
        Add
        <i nz-icon
           nzType="down">
        </i>
    </button>
</ng-template>

<nz-dropdown-menu #availableOptionsMenu="nzDropdownMenu">
    <ul nz-menu>
        <li nz-menu-item
            (click)="addLine()">Line</li>
        <li nz-menu-item
            (click)="addRectangle()">Rectangle</li>
        <li nz-menu-item
            (click)="addBucket()">Bucket Fill</li>
    </ul>
</nz-dropdown-menu>

<ng-template #combineErrorsTmpl
             let-control>
    <ng-container *ngIf="control.hasError('whitespace')">Required</ng-container>
</ng-template>