<h1>Canvas Drawing - Frontend</h1>
<div nz-row
     [nzGutter]="[12]">
    <div nz-col
         nzLg="24"
         nzXl="12">
        <h2>Shapes</h2>
        <nz-table #shapeTable
                  [nzData]="core?.shapes"
                  [nzShowPagination]="false"
                  [nzNoResult]="emptyShapeTmpl">
            <thead>
                <tr>
                    <th>Shape</th>
                    <th>X1</th>
                    <th>Y1</th>
                    <th>X2</th>
                    <th>Y2</th>
                    <th>Label</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let shape of shapeTable.data">
                    <td>{{ shape.type }}</td>
                    <td>{{ shape.x1 }}</td>
                    <td>{{ shape.y1 }}</td>
                    <td>{{ shape.x2 }}</td>
                    <td>{{ shape.y2 }}</td>
                    <td>{{ shape.label }}</td>
                </tr>
                <tr *ngIf="shapeTable.data.length">
                    <td colspan="6">
                        <button nz-button
                                nzType="primary">
                            Add Shape
                        </button>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>
    <div nz-col
         nzLg="24"
         nzXl="12">
        <h2>Canvas</h2>
        <app-canvas-size [width]="core.canvasWidth" [height]="core.canvasHeight" (sizeChange)="canvasSizeChange($event)"></app-canvas-size>
        <app-canvas-board [canvas]="core.canvas"></app-canvas-board>
    </div>
</div>
<ng-template #emptyShapeTmpl>
    No shape added.
    <button nz-button
            nzType="primary">
        Add Shape
    </button>
</ng-template>