nz-form-control {
  padding-left: 0 !important;
}

.table-action {
  text-align: right;

  .btn-clear {
    margin-left: 8px;
  }
}

.cursor-pointer {
  cursor: pointer;
}

::ng-deep tr.ant-table-placeholder td {
  border-bottom: 0;
}
