<form nz-form
      [formGroup]='canvasForm'>
    <nz-form-item>
        <nz-form-label nzRequired
                       nzFor='CanvasWidth'>
            Width
        </nz-form-label>
        <nz-form-control nzErrorTip="Canvas width is required">
            <input formControlName="width"
                   nz-input
                   min="0"
                   type='number'
                   id='CanvasWidth' />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label nzRequired
                       nzFor='CanvasHeight'>
            Height
        </nz-form-label>
        <nz-form-control nzErrorTip="Canvas height is required">
            <input formControlName="height"
                   nz-input
                   min="0"
                   type='number'
                   id='CanvasHeight' />
        </nz-form-control>
    </nz-form-item>
</form>